{% extends 'base.html' %}
{% load static %}


{% block title %}
    HOME
{% endblock title %}

{% block content %}
    <div class="container">
        <header class="blog-header lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#">Subscribe</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">BIG DATA LAB</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                             viewBox="0 0 24 24"><title>Search</title>
                            <circle cx="10.5" cy="10.5" r="7.5"/>
                            <path d="M21 21l-5.2-5.2"/>
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                </div>
            </div>
        </header>


    </div>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">머신러닝 활용 타자 승률 예측</h1>
                <p class="lead my-3">Lasso 회귀, Rigde 회귀, 랜덤포레스트와 XGBoost 알고리즘 사용한 에측 프로그램으로 한국 프로
                    야구 선수들의 추후 승률을 예측합니다</p>
                <p class="lead mb-0"><a href="{% url 'predict_page' %}" class="text-white fw-bold">승률 예측하러 가기</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">텍스트 분석</strong>
                        <h3 class="mb-0">긍정/부정 판별하기</h3>
                        <p class="card-text mb-auto">실시간 트위터 데이터 1000개를 이용하여 특정 키워드 관련 반응들이 긍정적인지 부정적인지 판단합니다.</p>
                        <a href="{% url 'pos_neg' %}" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">텍스트 분석</strong>
                        <h3 class="mb-0">키워드 추출하기</h3>

                        <p class="mb-auto">선수들의 이름을 검색하여 해당 선수와 연관된 키워드를 추출합니다.</p>
                        <a href="{% url 'text_analyze' %}" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    승률 예측 모델의 학습 과정
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">1. KBO 데이터 분석</h2>

                    <p>모델 학습을 위한 데이터 분석 과정</p>
                    <br>
                    <h3>전체 데이터 확인</h3>
                    <img src="{% static 'total_data.png' %}" alt="" style="width:700px">

                    <p>성적 예측 모델 학습에 사용된 데이터는 KBO 기록실에서 제공되는 선수들의 성적 중 프리시즌 데이터를 추출한 것이다. 전체 데이터를 확인해보면, 몇몇 변수가 0에 많이
                        치우져져 있으나 프리시즌에 비해서는 값의 범위가 넓어진 것과 상대적으로 오른쪽으로 치우친 상태이다.
                        OPS는 0~4 사이 값을 갖고 대부분이 1 이하이다. 타자의 성적인 OPS를 자세히 알아본다.</p>
                    <br>
                    <h3>연도별 팀 OPS 확인하기</h3>

                    <img src="{% static 'year_ops.png' %}" alt="" style="width:700px">
                    <br>
                    <hr>
                    <p>박스플롯을 확인하면 대부분 비슷한 형태를 가진다. 그런데 연도별 중앙값은 2000년도를 기준으로 2000년 이전은 변동이 크고 그 이후는 상대적으로 변동이 적다. 연도에 따라
                        데이터가 차이나니까 연도별 OPS를 더 자세히 살펴본다</p>
                    <p>이는 2000년이전에는 기록 수 자체가 매우 적기 때문이다. </p>
                    <br>
                    <h3>연도별 팀 OPS 확인하기</h3>
                    <img src="{% static  'year_team_ops.png' %}" alt="" style="width:700px">
                    <p>성적이 계속 달라지고 순위도 계속 달라지는 것을 확인할 수 있다. </p>


                    <br><br>
                    <h3>외국인과 내국인 성적 시각화하여 비교하기</h3>
                    <img src="{% static 'contry_ops.png' %}" alt="" style="width:700px">
                    <p>내국인 선수에 비하여 외국인 선수의 수가 적기는 하지만 전반적으로 외국인 선수의 성적이 높은 것이 확인된다.</p>


                    <br><br>
                    <h3>규정 타수 정의</h3>
                    <p>타수가 적은 선수는 출루율이나 장타율이 극단적으로 높거나 낮게 형성될 확률이 커서 이를 조정해줘야한다</p>
                    <p>조정 기준을 정하기 위해서 정규시즌 기반 타수에 따른 OPS 수치 현황을 그래프로 시각화하여 확인한다.</p>
                    <img src="{% static '규정타수.png' %}" alt="">
                    <p>타수가 30이하인 구간에서 OPS가 매우 넓게 분포하고 있는 모습을 볼 수 있다. 따라서 30을 기준으로 설정한다.</p>

                    <br><br>

                    <h4>시간 변수</h4>
                    <p> KBO 기록실에서 추출한 데이터는 시기에 따른 선수들의 성적 데이터를 제공하고 있다. 따라서 시계열 특성 파악하는 것이 중요한 요소이다. 시계열 정보를
                        반영하기 위해서 시간 변수를 추가로 생성해준다. </p>
                    <p>시간 특성을 반영하기 위해서 선수별로 과거 성적을 만들어주는 함수를 정의하고, 각 선수의 1,2,3년 전 성적으로 다음 해의 성적을 예측하는 모델을 구축하도록
                        계획한다.</p>

                    <br><br>
                    <h3>나이 변수 반영</h3>
                    <p>일반적으로 운동선수는 나이에 따라 잘하는 시기가 정해져 있는 경우가 많다. 또 어린 선수인지 경력이 쌓인 선수인지에 따라 모델이 과거 성적보다 높게 예측해야하는지 낮게
                        예측해야하는지 결정될 것이다.
                        우선 나이별 평균 성적을 시각화해서 확인해본다</p>
                    <img src="{% static '나이별.png' %}" alt="">
                    <p>결과를 확인해보니 나이에 따라 출루율이 달라진다. 20대 후반 ~ 30대 초중반 사이에서 제일 높다. 이 구간 이전에는 출루율이 상승하는 경향이 있고, 그 이후 구간은 출루율이 하락하는 경향이 있다.</p>

                    <br><br>
                    <h1>2. 모델 구축</h1>
                    <ul>
                        <li>선형 모델 : 릿지, 라쏘 모델</li>
                        <li>트리기반 모델 : XGBoost, 랜덤 포레스트 모델</li>
                    </ul>
                    <p>총 네개의 모델을 각각 구축하고 성능을 비교하여 모델성능 향상을 위한 방법을 찾는다</p>

                    <br>
                    <h2>WRMSE: Weighted Root Mean Square Error</h2>
                    <p>WRMSE는 실제 값과 예측값의 차이를 계산하되 특정한 방식으로 가중치를 부여한다. 구체적으로는 다음과 같은 수식으로 결과를 평가한다.</p>
                    <img src="{% static 'wrmse.png' %}" alt="">
                    <p>현재 프로젝트의 경우 위의 수식은 아래와 같은 값을 가지게 된다.</p>
                    <img src="{% static 'wrmse2.png' %}" alt="">

                    <br><br>
                    <h3>각 모델별 성능 확인</h3>
                    <p>수치가 낮을수록 성능이 좋은 모델이다.</p>
                    <img src="{% static 'opbWrmse.png' %}" alt="">
                    <img src="{% static 'slgWrmse.png' %}" alt="">

                    <br><br><br>
                    <h3>성능 예측에 영향이 큰 변수 확인하기</h3>
                    <img src="{% static 'lassopath.png' %}" alt="">
                    <p>나이, 1년전 성적, 2년전 성적, 3년전 성적, 평균 성적 총 5가지 변수 중 성능 예측에 가장 큰 영향을 미치는 변수는 평균성적이다</p>
                </article>



                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
                    <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
                </nav>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">빅데이터 연구실</h4>
                        <p class="mb-0">빅데이터를 이용하여 머신러닝을 수행하고 데이터를 분석합니다.</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">더보기</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="{% url 'about' %}">머신러닝 개요</a></li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">소스코드 보기</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock content %}



